* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Times New Roman', serif;
}

body,
#page,
section {
    margin: 0;
    padding: 0;
}