* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Zen Old Mincho", serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body,
#page,
section {
    margin: 0;
    padding: 0;
}