.footer-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 998;

    width: 40px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    writing-mode: vertical-rl;
    letter-spacing: 0.25em;

    color: #e6e7e5;
    font-size: 15px;
    text-decoration: none;

    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255,255,255,.18);

    box-shadow:
        0 8px 24px rgba(0, 0, 0, 0.15),
        inset 0 1px 1px rgba(255, 255, 255, 0.25);

    transition:
        background .3s ease,
        color .3s ease,
        box-shadow .3s ease;

    -webkit-tap-highlight-color: transparent;
}

.footer-button:hover {
    background: rgba(255, 255, 255, 0.25);
    color: #000;
}

.footer-button:active {
    background: rgba(255, 255, 255, 0.25);
    color: #000;
}

.footer-button:focus {
    outline: none;
}

.scroll-indicator{
    position: fixed;
    right: 80px;   /* MENUボタンの左 */
    bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 998;
}

.scroll-text{
    writing-mode: vertical-rl;
    color: rgba(255,255,255,.8);
    font-size: 11px;
    letter-spacing: .2em;
    margin-bottom: 12px;
}

.scroll-line{
    position: relative;
    width: 2px;
    height: 70px;
    background: rgba(255,255,255,.35);
}

.scroll-dot{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 10px;
    /* border-radius: 50%; */
    background: rgb(255, 255, 255);

    animation: scrollDot 1.8s ease-in-out infinite;
}

@keyframes scrollDot{

    0%{
        top:0;
        opacity:0;
    }

    20%{
        opacity:1;
    }

    80%{
        top:55px;
        opacity:1;
    }

    100%{
        top:65px;
        opacity:0;
    }

}


.floating-ui{
    opacity: 0;
    visibility: hidden;
    transform: translateY(12px);

    transition:
        opacity .4s ease,
        transform .4s ease,
        visibility .4s ease;
}

.floating-ui.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}