<footer>
    <div class="thanks">With all our thanks.</div>
    <div class="logo-container">
        <img class="footer-biglogo" src="images/logo-white.png" alt="white logo"></a>
    </div>

    <div class="footer-list">
        <div class="footer-list-title">Information</div>
        <div class="footer-item">
            <div class="footer-value">
                2次会ご参加の方はこちらにもご回答ください
            </div>
            <div class="footer-value-detail">
                場所：〇〇<br>
                時間：〇〇<br>
                会費：〇〇<br>
                出欠：出欠確認フォーム(googlr form埋め込み)
            </div>
        </div>
        <div class="footer-item">
            <div class="footer-value">
                着付けご希望の場合は、上記<a href="detail.html#form">出欠確認フォーム</a>でご登録ください
            </div>
            <div class="footer-value-detail">
                金額：〇〇<br>
                時間：〇〇<br>
                場所：〇〇<br>
            </div>
        </div>
        <div class="footer-item">
            <div class="footer-value">
                オンラインご祝儀ご希望の方はこちらにご送付いただけますと幸いです
            </div>
            <div class="footer-value-detail">
                PayPay：（PayPay ID）<br>
                J-coin Pay：（J-coin Pay ID）<br>
                クレジットカード：（本当にやる？）<br>
                銀行振込：（本当にやる？）
            </div>
        </div>
        <div class="footer-item">
            <div class="footer-value"><a href="https://www.tsunamachimitsuiclub.co.jp/">綱町三井倶楽部(公式HP)</a></div>
        </div>
        <div class="footer-item">
            <div class="footer-value"><a href="components/photo.html">前撮り＠新潟</a></div>
        </div>
    </div>

    <div class="foot">
        <a href="https://www.tsunamachimitsuiclub.co.jp/"><img class="footer-logo" src="images/tsunamachi.png"
                alt="Tsunamachi Mitsui Club"></a>
        <a href="https://www.instagram.com/"><img class="footer-logo" src="images/instagram.png" alt="Instagram"></a>
        <a href="https://lin.ee/qm2uu8c"><img class="footer-logo" src="images/line.png" alt="LINE"></a>
        <a href="https://github.com/harukiikawa/wedding-invitation"><img class="footer-logo" src="images/github.png"
                alt="GitHub"></a>
    </div>

    <div class=footer-sign>
        @2026 H&C
    </div>

</footer>