<footer>
    <div class="thanks">With all our thanks.</div>
    <div class="logo-container">
        <img class="footer-biglogo" src="images/logo-white.png" alt="white logo"></a>
    </div>

    <div class="footer-list">
        <div class="footer-item">
            <div class="footer-value"><a href="https://www.tsunamachimitsuiclub.co.jp/">綱町三井倶楽部(公式HP)</a></div>
        </div>
        <div class="footer-item">
            <div class="footer-value"><a href="components/photo.html">前撮り＠新潟</a></div>
        </div>
    </div>

    <div class="foot">
        <a href="https://www.tsunamachimitsuiclub.co.jp/"><img class="footer-logo" src="images/tsunamachi.png"
                alt="Tsunamachi Mitsui Club"></a>
        <a href="https://www.instagram.com/"><img class="footer-logo" src="images/instagram.png" alt="Instagram"></a>
        <a href="https://lin.ee/qm2uu8c"><img class="footer-logo" src="images/line.png" alt="LINE"></a>
        <a href="https://github.com/harukiikawa/wedding-invitation"><img class="footer-logo" src="images/github.png"
                alt="GitHub"></a>
    </div>

    <div class=footer-sign>
        @2026 H&C
    </div>

</footer>